services:
  db:
    image: mysql
    container_name: sqlserver
    environment:
      - MYSQL_DATABASE=playground
      - MYSQL_ROOT_PASSWORD=SnappSolutions2025!.
    ports:
      - "1433:1433"
    volumes:
      - C:\Users\tmartin\sqlServerData:/var/opt/mssql
    restart: always

  adminer:
    image: adminer
    container_name: adminer
    ports:
      - "8080:8080"
    depends_on:
      - db
    restart: always
